# Copie ce fichier en .env et remplis les vraies valeurs.
BOT_TOKEN=mettre_le_token_botfather_ici
MONGO_DB_URL=mongodb+srv://USER:PASSWORD@cluster0.ud3w2.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
ADMIN_PASSWORD=mettre_un_mot_de_passe_admin_fort
ADMIN_IDS=6690055692
