# Copie ce fichier en .env et remplis les vraies valeurs.
MONGO_DB_URL=mongodb+srv://USER:PASSWORD@cluster0.ud3w2.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
# Token du bot, pour proxifier les photos de groupe sans l'exposer cote client.
BOT_TOKEN=mettre_le_token_botfather_ici
FLASK_DEBUG=0
